* {
    transition: all 0.3s ease;
}

html, body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: #edead0;
}

body {
    padding: 20px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: #0a0908;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header span {
    margin-left: 10px;
}

header span:hover {
    cursor: pointer;
}

.drag-area {
    -webkit-app-region: drag;
}

.nodrag-area {
    -webkit-app-region: no-drag;
}

/* Text Color */

/* Background Color */