* {
    transition: all 0.3s ease;
}

html, body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    background: rgba(0,0,0,0);
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.orb {
    height: 50px;
    width: 50px;
    margin: 0 10px;
    border-radius: 50px;
    background: #a3c9a8;
    box-shadow: 0 0 10px #a3c9a8;
}

span {
    color: #a3c9a8;
    margin: 0 10px;
    font-size: 1em;
}